<h1><%= @message %></h1>
<p><%= link_to "LinkedIn", @linkedin %></p>
<p><%= link_to "Coursera Courses Search Example", courses_index_path %></p>
<p><%= link_to "Engineers Without Boarders", "http://www.engineerswithoutboraders.herokuapp.com" %></p>
<p><%= link_to "Cars Example", cars_path %></p>