<h1>Searching for - <%= @search_term %></h1>

<table border="1">
  <tr>
  	<th>Image</th>
  	<th>Name</th>
  	<th>Description</th>
  </tr>
  
  <%= form_tag("/courses/index", method: "get") do %>
  <%= label_tag(:looking_for, "Search for:") %>
  <%= text_field_tag(:looking_for) %>
  <%= submit_tag("Search") %>
<% end %>

<p><%= link_to "Back to Home Page", root_path %></p>
<p><%= link_to "Engineers Without Boarders", "http://www.engineerswithoutboraders.herokuapp.com" %></p>
  
  <% @courses.each do |course| %>
    <tr class=<%= cycle('even', 'odd') %>>
      <td><%= image_tag(course["smallIcon"])%></td>
      <td><%= course["name"] %></td>
      <td><%= course["shortDescription"] %></td>
    </tr>
  <% end %>
</table>
